@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* nav-styles */
 
  .nav-parent{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
  }
  .nav-logo{
    display: flex;
  }
  .nav-logotittle{
    font-weight: 700;
    font-size: 30px;
  }
  .nav-logo{
    align-items: center;
  }
  .nav-org-logo{
    width: 62px;
    height: 62px;
  }
  .nav-header{
    width: 1060px;
    margin: 0 auto;
  }
  .nav-mid{
    display: flex; 
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-Orange, .nav-sky, .nav-past, .nav-blue{
    text-decoration: none;
  }
  .nav-Orange{
    color: orange;
    font-size: 20px;
    font-weight: 700;
  }
  .nav-sky{
    color: skyblue;
    font-size: 20px;
    font-weight: 700;
  }
  .nav-past{
      color: #05D4DF;
      font-size: 20px;
    font-weight: 700;
  }
  .nav-blue{
   color: #5D58EF;
   font-size: 20px;
    font-weight: 700;
  }
  .btn-contact{
    font-family: Quicksand;
    width: 76px;
    color: white;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
    padding: 10px;
    width: 140px;  
  }
/* banner-style */
.banner-text{
  margin-right: 50px;
}
.banner-parent{
  display: flex;
  align-items: center;
}
.banner-tittle{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.Empowering{
  color: orange;
}
.towards-vision{
  color: #01ACFD;
}
.banner-discription{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}
.bnt-enroll{
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 500;
  color:white;
  border-radius: 12px;
  background-color: black;
  width: 155px;
  height: 50px;
}
/* card-section-style */
.backgroung-img{
  background-image: url(../assets/bg.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80;
  
  
}
.card-section{
  width: 1060px;
  margin: 0 auto;
}
.card-head{
  font-size: 40px;
 font-weight: 600;
 text-align: center;
 margin-top: 50px;
}
/* card-style */
.card-controler{
  display: flex;
  gap: 25px;
  margin-top: 80px;
}

.card-blue{
 text-align: center;
 padding: 45px 40px;
 border: 0.94px solid rgb(222, 245, 255);
 border-radius: 18px;
 box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.blue-tittle{
  font-size: 22px;
  font-weight: 700;
}
.blue-discription{
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  color: #808080;
  margin-bottom: 35px;
}
.blue-btn{
  color: #64C8FF;
  font-family: Quicksand;
  font-size: 15.09px;
  font-weight: 700;
  background-color: white;
  border: none;
}

.card-orange{
  text-align: center;
  padding: 45px 40px;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255)
}
.orange-tittle{
  font-size: 22px;
  font-weight: 700;
}
.orange-discription{
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  color: #808080;
  margin-bottom: 35px;
}
.orange-btn{
  color: #F0AA00;
  font-family: Quicksand;
  font-size: 15.09px;
  font-weight: 700;
  background-color: white;
  border: none;
}
.card-pitti{
  text-align: center;
  padding: 45px 40px;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.pitti-tittle{
  font-size: 22px;
  font-weight: 700;
}
.pitti-discription{
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  color: #808080;
  margin-bottom: 35px;
  
}
.pitti-btn{
  color: #8700FF;
  font-family: Quicksand;
  font-size: 15.09px;
  font-weight: 700;
  background-color: white;
  border: none;
}
/* slide-button */
.colorful-card-header{
  width: 1060px;
  margin: 0 auto;
}

.slide-container{
   text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
  }
  .previous {
    font-family: Font Awesome 5 Free;
    justify-content: center;
    background-color:orange;
    color:white;
    text-decoration: none;
    padding: 12px 22px;
    font-size: 24px;
    font-weight: 900;

  }
  .next{
    font-family: Font Awesome 5 Free;
    justify-content: center;
    background-color:orange;
    color:white;
    padding: 12px 22px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
  }
  .round{
    border-radius: 30px;
  }
 
  /* next-colorful-card-style */
  .bg-image{
    
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  
  .section-margin{
    max-width: px;
    margin: 0 auto;
  }
  .our-stories{
    font-size: 43px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .colorful-card-container{
  display: flex;
 }
 .fours-story{
display: grid;
grid-template-columns: repeat(2 ,1fr);
margin-left: 15px;
margin-right: 130px;
gap: 15px;
 }
 .view-all{
  width: 180px;
  margin-top: 80px;
  margin-bottom: 60px;
  padding: 10px;
  border-radius: 12px;
  background: rgb(17, 17, 17);
  color:white; 
  
 }
 .view-btn{
  text-align: center;
 }
 .story-first{
  width: 500px;
  height: 560px;
  border-radius: 16px;
  background: white;
 }
 .smallgirl-smallboy{
  width: 500px;
  border-radius: 16px 16px 0px 0px;
 }
 .past-color-btn{
  color: white;
  font-size: 12px;
  font-weight: 500;
  border-radius: 45px;
  background-color: #3CD8E8;
  padding: 12px 16px;
  border: none;
  margin-left: 35px;
  transform: translateY(-20px);
 }
.first-story-tittle{
  font-size: 24px;
  font-weight: 700;
  margin-top: 33px;
  margin-left: 35px;
}
.fist-story-discription{
  font-family: Raleway;
  color: #666666;
  font-size: 13px;
  margin-top: 48px;
  margin-left:35px ;
  line-height: 20px;
  margin-bottom: 10px;
}
.second-card, .fiveth-card, .third-card, .fourth-card{
  width: 250px;
  border-radius: 16px;
  background: white;
}

.second-card-img, .third-card-img, .fourth-card-img, .fiveth-card-img{
  border-radius: 16px 16px 0px 0px;
  width: 250px;
}
.second-btn, .fourth-btn, .fiveth-btn{
  color: white;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  width: 150px;
  height: 32px;
  border-radius: 45px;
  background-color: #95B226;
  border: none;
  margin-left: 35px;
  margin-top: -100px;
  transform: translateY(-20px);

}
.third-btn{
  color: white;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  width: 150px;
  height: 32px;
  border-radius: 45px;
  background-color: #5D58F0;
  border: none;
  margin-left: 35px;
  transform: translateY(-20px);
  
}
.scholl-tittle{
  text-align: center;
  
}
.footer-background{
  background-color: #01ACFD;
  height: 400px;
}
.image-container{
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-top: 100px;
  
  
}
.logo-flex{
  display: flex;
  align-items: center;
}
.kids-tittle{
  font-size: 30px;
  font-weight: 700;
}
.footer-icon li{
  list-style: none;
  margin-top: 10px;
  
}
.footer-icon a{
  text-decoration: none;
  color: white;
}
.footer-icon{
 margin-top: 20px;
 font-size: 18px;
font-weight: 450;
}
.footer-background{
  color: white;
  align-items: center;
}
.pic{
  margin-bottom: 60px;
}
.display{
 display: none;
}
@media screen and (max-width:576px) {
  .banner-parent{
    flex-direction:column-reverse;
    align-items: start;
    justify-content: center;
  }
  .bnt-enroll{
    text-align: center;
  }
  
    .card-controler{
    flex-direction: column;
  }
  .card-section{
    width: 320px;
    margin: 0 auto;
  }
  .story-first{
    display: none;
  }
  .section-margin{
    max-width: px;
    margin: 0 auto;
  }
  .fours-story{
    margin-right: 0px;
    margin-left: 0px;
  }
  .image-container{
   flex-direction: column;
  }
  
.footer-background{
  height: 100%;
}

.scholl-tittle{
  text-align: left;
}
.second-card, .fiveth-card, .third-card, .fourth-card{
  width: 170px;
}
.second-card-img, .third-card-img, .fourth-card-img, .fiveth-card-img{
  width: 170px;
}
.second-btn, .fourth-btn, .fiveth-btn{
  margin-left: 10px;
}
.third-btn{
  margin-left: 10px;
}

  }
  
